@model IEnumerable<Aparato>


@{
    ViewData["Title"] = "Index";
}

<div  class = "container justify-content-center  col-6" >
    <h4> Listado de aparatos</h4>

<p>
    <a asp-action="Editar"method = "post">CREAR NUEVO APARATO</a>
</p>
<div >
    <table id="miTabla" class="table table-striped table-bordered">
    <thead> 
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.NombreA)
            </th>
             <th>
               ACCIONES
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreA)
                </td>
               
                <td>
                    <a asp-action="Detalles" asp-route-id=@item.Id><i class="fa fa-eye text-secondary" style="font-size:25px;"></i></a>
                    <a asp-action="Editar" asp-route-id=@item.Id><i class="fa fa-pencil text-success" style="font-size:25px;"></i></a>
                    <a href="#"onclick="eliminar('@item.Id', '@item.NombreA')" ><i class="fa fa-trash " title="eliminar" style="font-size:25px;"id="eli"></i></a>
                  
                  
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>
<form class="modal" tabindex="-1" asp-action="Eliminar" id="eliminar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="Id" value="" id ="eliminar_id">
        <p><span id="eliminar_nombre"></span></p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" >Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
      </div>
    </div>
  </div>
</div>
</form>
@section Scripts{
    <script>
        function eliminar(id, nombre){
            document.querySelector("#eliminar_id").value = id;
            document.querySelector("#eliminar_nombre").innerHTML = nombre ;
            $("#eliminar").modal("show");
        }
    </script>
}